In [11]:
!pip install pyspark
from pyspark.sql import SparkSession
from datetime import datetime, date
import pandas as pd
from pyspark.sql import Row
spark = SparkSession.builder.getOrCreate()

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [39]:
df = spark.createDataFrame([
  Row(a=1, b=2., c='string1',d=date(2000,1,1), e=datetime(2000,1,1,12,0)),
  Row(a=1, b=2., c='string1',d=date(2000,1,1), e=datetime(2000,1,1,12,0)),
  Row(a=1, b=2., c='string1',d=date(2000,1,1), e=datetime(2000,1,1,12,0))

])
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [60]:
x= spark.createDataFrame([
   (1,2.,'string1', date(2000,1,1), datetime(2000,1,1,12,0)),
   (1,2.,'string1', date(2000,2,1), datetime(2000,1,2,12,0)),                       
   (1,2.,'string1', date(2000,3,1), datetime(2000,1,3,12,0)),                       
], schema=['a','b','c','d','e']
)
x.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  1|2.0|string1|2000-02-01|2000-01-02 12:00:00|
|  1|2.0|string1|2000-03-01|2000-01-03 12:00:00|
+---+---+-------+----------+-------------------+

In [26]:
pandas_df = pd.DataFrame({
    'a':[1,2,3],
    'b':[2.,6.,8.],
    'c':['string4','string2','string3']
})
pandas_df

   a    b        c
0  1  2.0  string4
1  2  6.0  string2
2  3  8.0  string3

In [28]:
pandas_df.printSchema()

root
 |-- a: long (nullable = true)
 |-- b: double (nullable = true)
 |-- c: string (nullable = true)

**Viewing Data👇**

In [43]:
df.show()

+---+---+-------+----------+-------------------+
|  a|  b|      c|         d|                  e|
+---+---+-------+----------+-------------------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|
+---+---+-------+----------+-------------------+

In [45]:
df.select('a','b','c').describe().show()

+-------+---+---+-------+
|summary|  a|  b|      c|
+-------+---+---+-------+
|  count|  3|  3|      3|
|   mean|1.0|2.0|   null|
| stddev|0.0|0.0|   null|
|    min|  1|2.0|string1|
|    max|  1|2.0|string1|
+-------+---+---+-------+

In [46]:
df.show(2, vertical=True)

-RECORD 0------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
-RECORD 1------------------
 a   | 1
 b   | 2.0
 c   | string1
 d   | 2000-01-01
 e   | 2000-01-01 12:00:00
only showing top 2 rows

In [50]:
from pyspark.sql import Column
from pyspark.sql.functions import upper

In [52]:
df.withColumn('new', upper(df.c)).show()

+---+---+-------+----------+-------------------+-------+
|  a|  b|      c|         d|                  e|    new|
+---+---+-------+----------+-------------------+-------+
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|STRING1|
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|STRING1|
|  1|2.0|string1|2000-01-01|2000-01-01 12:00:00|STRING1|
+---+---+-------+----------+-------------------+-------+